/* Header */
header {
	background: url(../../img/headers/aboutUsHero.jpg) no-repeat center top/cover;
}

.titles {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: left;
	padding-top: 40px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px
		0 #000;
}

h2 {
	margin: 20px 0 20px 0;
}

.history {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 1px;
}

.col-md-3 {
	text-align: center;
}

.member img {
	height: 80px;
	width: 80px;
	margin-right: 30px;
}

.member {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.member p {
	font-size: 17px;
}

.container h2 {
	text-align: center;
}

.address h3, .contacts h3 {
	margin: 10px 0 10px 0;
}

.contacts table td {
	padding-right: 10px;
}

.contacts {
	margin-bottom: 20px;
}

#map {
	height: 400px; /* The height is 400 pixels */
	width: 100%; /* The width is the width of the web page */
}

@media screen and (max-width: 410px) {
	.contact_us_form_container .btn {
		width: 100%
	}
	.contact_us_form_container .clear {
		margin-left: 0;
	}
}

@media screen and (max-width: 535px) {
	.title {
		font-size: 30px;
	}
}