@media screen and (max-width: 575px) {
  footer form {
    margin-right: 20px;
    margin-left: 20px;
  }
}

/* Header */
header {
  background: url(../../img/headers/heroHome.jpg) no-repeat center top / cover;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container h2 {
  text-align: center;
}

/* Fix of clearfix - clear the floats */
.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

/* Design of the titles */
.top_title {
  font-size: 40px;
}

.second_title {
  font-family: Lobster;
  font-size: 25px;
  font-style: normal;
  font-weight: 20;
  margin-top: 20px;
}

/* Name of the region (Europe, Asia, SA) */
h2 {
  margin: 20px 0 20px 0;
  text-transform: uppercase;
}

.col-lg-4 {
  text-align: center;
  padding: 0;
}

.col-lg-12 {
  padding-bottom: 30px;
}

/* Contains the main information about product */
.frame {
  width: inherit;
  border: 3px solid green;
  min-height: 620px;
}

/* adds hover animation */
.frame:hover {
  box-shadow: 0 0 50px green;
}

.frame a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.frame img {
  width: inherit;
  height: 350px;
  min-height: 350px;
  border-bottom: 3px solid green;
  object-fit: cover;
}

/* product name style */
.product-name {
  font-family: Lobster;
  font-size: 35px;
  color: blacks;
  position: relative;
  width: 100;
  background-color: rgba(0,255, 0, 0.4);
}

/* frame menu block with all available controls */
.frame-menu {
  width: inherit;
  padding: 7px;
  position: relative;
  height: 220px;
}

.frame-menu table {
	width: 100%;
	text-align: center;
}

.frame-menu .btn-success {
	color: white;
}

.frame-menu table td {
	text-align: center;
	text-transform: uppercase;
}

.frame-menu .btn-more {
	width: 80px;
}

.frame-menu .add-product {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: auto;
}

.frame-menu .btn-add {
	width: 100%;
}